@model ContentVm

@{
    ViewBag.Title = _loc["Content"];
    Layout = "_LayoutAdmin";
}

<h2  localize-content>Content </h2>
<div> @Html.ActionLink("New Content", "SiteContent", "Admin",  new object { },
          new { @class = "btn btn-warning btn-sm"})
     @Html.ActionLink("Content List", "SiteContents", "Admin",  new object { },
              new { @class = "btn btn-warning btn-sm"})
</div>

@if (ViewBag.Success != null && ViewBag.Success)
{
    <div class="card bg-success text-white shadow">
        <div class="card-body" localize-content>
            Saved Successfuly
            <div class="text-white-50 small" localize-content>Content saved successfully</div>
        </div>
    </div>
}
@using (Html.BeginForm("SiteContent", "Admin", FormMethod.Post, new { id = "myForm"}))
{
    @Html.HiddenFor(model=>model.Id)
    @Html.HiddenFor(model=>model.ContentBody)
    <div class="form-row">
        <div class="col">
            @Html.LabelFor(model => model.ContentName)
            @Html.TextBoxFor(model => model.ContentName, new { @class = "form-control", @placeholder = "Content Name"  })
            @Html.ValidationMessageFor(model => model.ContentName)
        </div>
    </div>
 
    <div class="form-row">
        <div class="col">
            @Html.LabelFor(model => model.Language)
            @Html.DropDownListFor(model => model.Language, 
             Model.LanguageList,
             "Please select",new { @class = "form-control" })
           
            @Html.ValidationMessageFor(model => model.Language)
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            @Html.LabelFor(model => model.ContentTitle)
            @Html.TextBoxFor(model => model.ContentTitle, new { @class = "form-control", @placeholder = "Content Title"  })
            @Html.ValidationMessageFor(model => model.ContentTitle)
        </div>
    </div>
    <div class="form-row">     
        <div class="col">
            <label localize-content>Content Body</label>
            <div class="col" id="editor" style="height: 400px; width: 100%;">

            </div>
        </div>
    </div>
   
    <div class="form-row]" style="margin-top: 20px;">
        <div class="col">
            <input type="button" class="btn btn-primary" value="Save"  onclick="PostData()" localize-content/> 
            
        </div>
    </div>
}


@section Scripts {
    <script src="/ckeditor5/ckeditor.js"></script>
    
    <script>
	ClassicEditor
		.create( document.querySelector( '#editor' ), {
			// toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
		} )
		.then( editor => {
			window.editor = editor;
			editor.setData( '@Html.Raw(Model.ContentBody)' );
		} )
		.catch( err => {
			console.error( err.stack );
		} );
	
	//const data = editor.getData();
	
	function PostData(){
	   $('#ContentBody').val(editor.getData());
	   $("#myForm").submit();
	}
	</script>
}

